:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  margin: 0 1em;
}

#header > div {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-left: 1.25em;
  text-transform: uppercase;
}

nav ul li a:link, nav ul li a:visited {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li a:hover, nav ul li a:focus {
  color: #ED1E2C;
}

#feature img {
  background-color: #fff;
  border-radius: 10px;
}

#feature img:hover {
  opacity: 0.8;
  transition-duration: 1s;
  transform: scale(1.1);
}

.ice-cream-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
	opacity: 1;
}

.ice-cream-grid img:hover {
  opacity: 0.8;
  transition-duration: 1s;
  border-radius: 10px;
}

.ice-cream-grid article:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

#bite-me {
  padding-left: 3em;
}

#bite-me h1 {
  font-size: 30pt;
  font-weight: 500;
}

#bite-me h2 {
  text-transform: uppercase;
  font-size: 12pt;
}

#bite-me h3 {
  font-weight: lighter;
  font-size: 10pt;
}

#bite-me a:link, a:visited {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 1s;
}

#bite-me a:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;

  transition-property: all;
  transition-timing-function: ease-in-out;
}

#behind-dough h1 {
  text-align: center;
}

#behind-dough {
  max-width: 100%;
}

#reviews {
  background-color: #000;
  padding: 0;
}

#reviews h1 {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

#reviews p {
  color: #fff;
  padding: 1em 4em;
}

.ice-cream-grid article {
  background-color: lightgray;
  border-radius: 10px;
  padding: 0;
  text-align: center;
}

.ice-cream-grid article img {
  border-radius: 10px 10px 0 0;
}

#grid {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1em;
}

@media (max-width: 768px) {
  #feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    margin: 0;
  }

  #img-one {
    grid-column: 1 / span 3;
  }
}

@media (min-width: 768px) {
  #feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  #dough {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    place-items: center;
  }

  #review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em 0;
  }

  .ice-cream-grid {
    display: flex;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    justify-content: center;
    
  }

  .ice-cream-grid img {
    max-width: auto;
  }

  #bite-me {
    padding: none;
  }

}

@media (min-width: 960px) {
  #intro {
    display: flex;
    grid-template-columns: 1fr, 1fr;
  }

}

@media (min-width: 1080px) {
  .wrapper {
    padding: 0 15em;
    align-items: center;
  }

  body {
    background-color: white;
  }

  #dough {
    max-width: 90%;
    padding: 0;
  }

}